<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olx</title>
  <link rel="stylesheet" href="/stylesheet/home.css">  
</head>
<body>
  
  <header>

    <div class="fas fa-shopping-cart">&#128722;</div>

    <nav>
      <ul>
        <li><a class="nav-link active" aria-current="page" href="#">Home</a></li>
        <li><a class="nav-link" href="/campgrounds">All Products</a></li>
        <% if(!currentUser) { %>
        <li> <a class="nav-link" href="/login">Login</a></li>
        <li><a class="nav-link" href="/register">Register</a></li>
        <% } else { %>
        <li><a class="nav-link" href="/logout">Logout</a></li>
        <% } %>
      </ul>
    </nav>

    <a href="#" class="logo"><h1>Olx</h1><i class="fas fa-store"></i></a>

  </header>

  <div class="container">
      <div class="content">
        <h1>Olx</h1>
        <p>Welcome to Olx ! Your own online exchange website where you can post advertisement of your product that you want to sell or you can also buy product by talking to the seller.  lets get started. </p>
        <div class="buttons">
          <a href="/register"><button>Get Started</button></a>
          <a href="/login"><button>Login</button></a>
        </div>
      </div>

      <div class="image">
        <img src="lappy.jpg" alt="Responsive image">
      </div>
      
  </div>

 
</body>

<footer class="mt-auto text-white-50">
  <p>&copy; 2020 </p>
</footer>
</html>
